/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
:root {
  --main-color: #0aad0a;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --rating-color: #ffc908;
}

body {
  font-family: var(--font-family) !important;
}
.rating-color {
  color: var(--rating-color);
}
.cursor-pointer {
  cursor: pointer;
}

.product {
  border-radius: 8px;
  border: solid 1px transparent;
  transition: border-color 0.3s;
}
.product:hover {
  box-shadow: var(--shadow);
  border-color: var(--main-color);
}

.font-sm {
  font-size: 15px;
}
.text-main {
  color: var(--main-color) !important;
}
.bg-main {
  background-color: var(--main-color) !important;
  &:hover {
    background-color: #0b970b !important;
  }
}
.bg-main-light {
  background-color: var(--light-color) !important;
}
.register {
  text-decoration: none;
}
.register:hover {
  text-decoration: underline;
}

.slick-dots {
  bottom: -2rem !important;
}

.slick-dots li {
  margin: 0 15px !important;
}
.slick-dots li button {
  width: 35px !important;
  height: 10px !important;
  background-color: #cecece !important;
  border-radius: 4px;
  cursor: pointer;
}
.slick-dots li button:hover {
    background-color: #979797 !important;
}

.slick-dots li button:before{
  display: none;
}

.slick-dots li.slick-active button {
  background-color: #696969 !important;
}

@media screen and (min-width: 992px) {
  .product .btn {
    transition: transform 0.7s, opacity 0.7s;
    transform: translateY(100%);
    opacity: 0;
  }
  .product:hover .btn {
    opacity: 1;
    transform: translateY(0%);
  }
}

.juctify_end {
  justify-content: end;
}
@media screen and (max-width: 600px) {
  .slick-dots {
    bottom: -2.5rem !important;
  }
  .juctify_center {
    justify-content: center !important;
  }
  .align_center {
    align-items: center;
  }
  .flex-reverse {
    flex-direction: column-reverse;
  }
}

.fa-cart-shopping {
  font-size: 14px;
  + span {
    font-size: 14px;
    margin-left: 2px;
  }
}
